<app-header (toggleLogin)="openLogin()"></app-header>

<div class="container">
  <!--Responses-->
  <div class="chat-container #chatContainer">
      <div class="card" *ngFor="let data of textList; let i = index" [id]="i === textList.length - 1 ? 'lastMessage' : ''">
      <div class="card-body">
        <p class="card-text" [ngClass]="{'user-text': data.isUser, 'ai-text': !data.isUser}">{{data.response || data.text}}</p>
      </div>
    </div>
  </div>

  <!--  Input-->
  <div class="input-container">
    <div class="input-group mb-3">
      <textarea [(ngModel)]="inputText" class="form-control" placeholder="Add Your Text Here"></textarea>
      <div class="input-group-append">
        <button type="button" (click)="generateText()" class="btn btn-primary">Generate</button>
      </div>
    </div>
  </div>
</div>
